*{
	padding: 0px;
	margin: 0px;
}

body{
	height: 300vh;
	font-family: 'Arial';
	background-image: linear-gradient(to bottom,#8A2BE2,#9400D3);
	flex: all;
}

ul{
	list-style: none;
}

.letra_nav{
	text-decoration: none;
	color: black;
	display: block;
	padding: 0px 20px;
}

a:hover{
	background-color: rgba(255,255,255,.3);
}

nav{
	background-color: #fff;
	height: 50px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);

}

ul#ul-principal{
	background-color: blue;
	width: 90%;
	margin: auto;
}

.li-p{
	line-height: 50px;
	float: left;

}

ul li i{
	background-color: #808080;
}

.primeiro_h1{
	width: 300px;
	height: 50px;
	background: white;
	border:0;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	font-family: Arial;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 42%;
	margin-top: 20px;
	color: black;
}

.excluir_btn{
margin-top: 10%;
	margin-left: 22%;
	width: calc(100% - 140px);
	background: red;
	color: white;
	border: 0px;
	border-radius: 10px;
	margin-bottom: 20px;
	padding: 15px 15px;
	align-items: center;
}

.favoritar_btn{
	margin-left: 22%;
	
	width: calc(100% - 140px);
	background: #3CEB88;
	color: white;
	border: 0px;
	border-radius: 10px;
	margin-bottom: 20px;
	padding: 15px 15px;

}

table {
    max-width: 100%;
}
td {
    width: 100px;
}

.links{
	margin-top: 27%;
	margin-left: 40%;
	width: calc(100% - 140px);
	background: red;
	color: white;
		border: 0px;
	border-radius: 10px;
	margin-bottom: 20px;

		padding: 15px 15px;
}

.ref{
	color: white;

}