*{padding:0; margin:0; box-sizing: border-box;}

body{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Arial';
	background-image: linear-gradient(to bottom,#8A2BE2,#9400D3);


}

.box_login{
	width: 500px;
	height: 550px;
	background: #FFF;
	border:0;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.box_login .capa{
	height: 220px;
	background: url(../img/HomeLibraryLogo.png);
	background-size: 90% 90%;
	background-repeat: no-repeat;
	border-radius: 10px;
	margin-left: 50px;

}

h1{
	font-size: 24px;
	color: #808080;
	margin: -20px 0px 20px 15px;
	font-weight: 500;
	text-align: center;
}

form input{
	margin: 0px 20px;
	width: calc(100% - 40px);
	padding: 15px 15px;
	border: 0px;
	border-radius: 10px;
	margin-bottom: 20px;
	text-align: center;
	background-color: #DCDCDC;
}

form .btn-login{
	margin: 0px 20px;
	width: calc(100% - 40px);
	background: #3CEB88;
	color:#FFF;
		border: 0px;
	border-radius: 10px;
	margin-bottom: 20px;
		padding: 15px 15px;

}
a{
	color:#808080;
}

.cadastro{
	color:#808080;
	margin: 15px 0px 20px 15px;
	text-align: center;
}